/* 
    Note that any css written here is 'not' scoped to the Person.js (it is global css code).
    So it is good to use appropriate class names by using your component name.

    box-shawdow: offset-x offset-y blur-radius spread-radius color

    By the way, if you somehow also want to define a global (i.e. un-transformed) CSS class in such a .css 
    file, you can prefix the selector with :global .
      :global .Person { ... }
*/

.Person {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px 2px #888;
  padding: 16px;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 500px) {
  .Person {
    width: 400px;
  }
}
